<footer role="contentinfo">
  <div class="wrapper">
    <div class="footer-grid">
      <!-- About Us Section -->
      <div class="footer-col">
        <h3>About us</h3>
        <p>Black Python Devs is a US Non-Profit Organization under the fiscal hosting of the GNOME Foundation. The foundation aims to expand access to Python communities and resources to communities of Black Python Developers around the world.</p>
      </div>
      <!-- Quick link Section -->
      <div class="footer-col">
        <h3>Quick link</h3>
        <ul>
          <li><a href="/about.html">About Us</a></li>
          <li><a href="/events.html">Events</a></li>
          <li><a href="/support.html">Partnerships</a></li>
          <li><a href="/about.html#join-the-community">Community</a></li>
          <li><a href="/support.html">Donate</a></li>
          <li><a href="/corporate-sponsorships.html">Corporate Sponsorships</a></li>
          <li><a href="/code-of-conduct.html">Code of Conduct</a></li>
        </ul>
      </div>
      <!-- Contact Us Section -->
      <div class="footer-col">
        <h3>Contact Us</h3>
        <address>
          <p>Email: <a href="mailto:contact@blackpythondevs.com">contact@blackpythondevs.com </a></p>
        </address>
        <nav aria-label="Social media">
          <ul class="social-links">
            <li>
              <a href="https://discord.gg/XUc3tFqCT3" target="_blank" rel="me" title="Discord"><i class="iconoir-discord" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/black-python-devs" target="_blank" rel="me" title="LinkedIn"><i class="iconoir-linkedin" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="https://x.com/blackpythondevs" target="_blank" rel="me" title="Twitter/X"><i class="iconoir-x" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com/blackpythondevs/" target="_blank" rel="me" title="Instagram"><i class="iconoir-instagram" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="https://github.com/BlackPythonDevs" target="_blank" rel="me" title="GitHub"><i class="iconoir-github" aria-hidden="true"></i></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="footer-bottom">
      <small>&copy; {{ year }} Black Python Devs</small>
    </div>
  </div>
</footer>
