<footer role="contentinfo">
  <div class="wrapper">
    <div class="footer-grid">
      <!-- About Us Section -->
      <div class="footer-col">
        <h3>About us</h3>
        <p>Black Python Devs is a US Non-Profit Organization under the fiscal hosting of the GNOME Foundation. The foundation aims to expand access to Python communities and resources to communities of Black Python Developers around the world.</p>
      </div>
      <!-- Quick link Section -->
      <div class="footer-col">
        <h3>Quick link</h3>
        <ul>
          <li><a href="/about.html">About Us</a></li>
          <li><a href="/bpd-events/">BPD Events</a></li>
          <li><a href="/sponsored-events.html">Sponsored Events</a></li>
          <li><a href="/partnerships.html">Partnerships</a></li>
          <li><a href="/about.html#join-the-community">Community</a></li>
          <li><a href="/support.html">Support</a></li>
          <li><a href="/code-of-conduct.html">Code of Conduct</a></li>
        </ul>
      </div>
      <!-- Contact Us Section -->
      <div class="footer-col">
        <h3>Contact Us</h3>
        <address>
          <p>Email: <a href="mailto:contact@blackpythondevs.com">contact@blackpythondevs.com </a></p>
        </address>
        <nav>{%- include "_includes/social.html" -%}</nav>
      </div>
    </div>
    <div class="footer-bottom">
      <small>&copy; {{ year }} Black Python Devs</small>
    </div>
  </div>
</footer>
