{% set t = locales %}
<header class="site-header" role="banner">
  <h1 class="site-title">
    <a class="logo-text" href="/index.html"><img src="{{ '/assets/images/black_python_devs_logo-horizontal-white.png' }}" alt="Black Python Devs" /></a>
  </h1>
  <nav class="site-navigation" aria-label="Main navigation" style="padding-right: 2em">
    <div class="site-navigation-wrap">
      <ul class="menu" role="menu">
        {% for item in navigation %} {% set current = nil %} {% set nav_lang = nil %} {% if item.url and url == item.url %} {% set current = 'nav-current' %} {% endif %} {% if lang != 'en' %} {% set nav_lang = lang %} {% endif %}
        <li class="menu-item {{ current }}" role="menuitem">
          {% if item.subitems %}
            <details role="list">
              <summary aria-haspopup="listbox">
                <i class="{{ item.fa }}" aria-hidden="true"></i>&nbsp;{{ item.text }}
              </summary>
              <ul role="listbox">
                {% for sub in item.subitems %}
                  <li><a href="{{ nav_lang }}{{ sub.url }}"><i class="{{ sub.fa }}" aria-hidden="true"></i>&nbsp;{{ sub.text }}</a></li>
                {% endfor %}
              </ul>
            </details>
          {% else %}
          <a class="{{ current }}" href="{{ nav_lang }}{{ item.url }}"> <i class="{{ item.fa }}" aria-hidden="true"></i>&nbsp;{{ item.text }} </a>
          {% endif %}
        </li>
        {% endfor %} {% if locales | length > 1 %}
        <li class="menu-item" role="menuitem">
          <div class="">
            <i class="fa fa-language" aria-hidden="true"></i>
            <select id="language" class="form-select" aria-label="Language">
              {% set locales = locales | sort %} {% for locale in locales %} {% set lang = locale[0] %} {% set locale_name = locale[1][lang].locale_name %} {% if lang == lang %}
              <option value="{{ lang }}" selected="selected">{{ locale_name }}</option>
              {% else %}
              <option value="{{ lang }}">{{ locale_name }}</option>
              {% endif %} {% endfor %}
            </select>
          </div>
        </li>
        {% endif %}
      </ul>
      <!-- .menu -->
      <button id="menu-close" class="menu-toggle">
        <span class="screen-reader-text">Close Menu</span>
        <span class="icon-close" aria-hidden="true"></span>
      </button>
    </div>
    <!-- .site-navigation-wrap -->
  </nav>
  <!-- .site-navigation -->
  <button id="menu-open" class="menu-toggle">
    <span class="screen-reader-text">Open Menu</span>
    <span class="icon-menu" aria-hidden="true"></span>
  </button>
</header>
