<div class="grid">
  <article id="join-us">
    <div class="grid">
      <a href="https://discord.gg/XUc3tFqCT3" role="button" class="pico-background-violet-650">
        <span style="margin: 0 1rem"> <i class="fab fa-discord"></i></span>
        <span> Join our Discord </span>
      </a>

      <a href="https://www.linkedin.com/groups/14336241/" role="button" class="pico-background-azure-650 white-button"
        ><span style="margin: 0 1rem"><i class="fab fa-linkedin"></i></span>Join our LinkedIn Group</a
      >
    </div>
  </article>
</div>
<div id="support">
  <h2>Support Black Python Devs</h2>
  <article>
    <div class="grid">
      <div>{% include "_includes/support_widget.html" %}</div>
      <div>
        <img class="donation-photo" src="/assets/images/gnome_powered_bpd_stacked.png" alt="Black Python Devs logo with GNOME Foundation sponsorship" />
      </div>
    </div>
    <small
      >Black Python Devs is a Non-Profit, fiscally hosted under the GNOME Foundation. GNOME does take a percentage for operating costs for our account and administration but at least 90% of proceeds goes directly to Black Python Devs General Purpose
      Fund as detailed here.</small
    >
  </article>
  <section>
    <h3>Corporate Sponsors</h3>
    <div class="grid">
      <article class="sponsor">
        <img src="/assets/images/gnome-foundation-blue.png" alt="GNOME Foundation Logo" style="height: 2rem" />
      </article>
    </div>
  </section>
</div>
