{% if site.paginate %} {% assign posts = paginator.posts %} {% else %} {% assign posts = site.posts %} {% endif %} {%- if posts.size > 0 -%} {%- if page.list_title -%}
<h2 class="post-list-heading">{{ page.list_title }}</h2>
{%- endif -%}
<article class="post-list">
  {%- assign date_format = site.bpdevs.date_format | default: "%b %-d, %Y" -%} {% assign count = 0 %} {% assign limit_posts = 3 %} {%- for post in posts -%} {%- if count < limit_posts -%}
  <div>
    <h3>
      <a class="" href="{{ post.url | relative_url }}"> {{ post.title | escape }} </a>
    </h3>
    <p>{{ post.date | date: date_format }}</p>
    {%- if site.show_excerpts -%}
    <p class="post-description" style="margin-bottom: 2rem">{{ post.description}}</p>
    {%- endif -%}
  </div>
  {%- assign count = count | plus:1 -%} {%- endif -%} {%- endfor -%}
</article>

{% if site.paginate %}
<div class="pager">
  <ul class="pagination">
    {%- if paginator.previous_page %}
    <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
    {%- else %}
    <li><div class="pager-edge">•</div></li>
    {%- endif %}
    <li><div class="current-page">{{ paginator.page }}</div></li>
    {%- if paginator.next_page %}
    <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
    {%- else %}
    <li><div class="pager-edge">•</div></li>
    {%- endif %}
  </ul>
</div>
{%- endif %} {%- endif -%}
