{% if site.paginate %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{%- if posts.size > 0 -%}
  {%- if page.list_title -%}
    <h2 class="post-list-heading">{{ page.list_title }}</h2>
  {%- endif -%}
  <div class="post-list">
    {%- assign date_format = site.bpdevs.date_format | default: "%b %-d, %Y" -%}
    {% assign count = 0 %}
    {%- for post in posts -%}
    <div>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      {%- if site.show_excerpts -%}
      <p class="post-description">
      {{ post.description }}
     </p>
    {%- endif -%}
    </div>
      {%- assign count = count | plus:1 -%}
    {%- endfor -%}
  </div>

  {% if site.paginate %}
    <div class="pagination">
      {%- if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}" class="prev">&larr; Prev</a>
      {%- else %}
      <span class="disabled prev">&larr; Prev</span>
      {%- endif %}

      {%- if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}" class="next">Next &rarr;</a>
      {%- else %}
      <span class="disabled next">Next &rarr;</span>
      {%- endif %}
    </div>

    {%- endif %}

{%- endif -%}
