<section>
  <h3>Corporate Sponsors</h3>
  <div class="grid">
    <article class="sponsor">
      <a href="https://foundation.gnome.org/" target="_blank" rel="noopener">
        <img src="/assets/images/gnome-foundation-blue.png" alt="GNOME Foundation Logo" style="height: 2rem" />
      </a>
    </article>
    <article class="sponsor">
      <a href="https://www.anaconda.com/" target="_blank" rel="noopener">
        <img src="/assets/images/2020_Anaconda_Logo_RGB_Corporate.png" alt="Anaconda Logo" style="height: 2rem" />
      </a>
    </article>
    <article class="sponsor">
      <a href="https://www.jetbrains.com/" target="_blank" rel="noopener">
        <img src="/assets/images/jetbrains.webp" alt="JetBrains Logo" style="height: 2rem" />
      </a>
    </article>
    <article class="sponsor">
      <a href="https://pydantic.dev/" target="_blank" rel="noopener">
        <img src="/assets/images/pydantic-lg.webp" alt="Pydantic Logo" style="height: 2rem" />
      </a>
    </article>
    <article class="sponsor">
      <a href="https://www.revsys.com/" target="_blank" rel="noopener">
        <img src="/assets/images/revsys.webp" alt="REVSYS Logo" style="height: 2rem" />
      </a>
    </article>
    <article>
      <p><a href="/corporate-sponsorships.html">Learn more about corporate sponsorships</a></p>
    </article>
  </div>
</section>
