<section>
  <h2>Supported Events</h2>

  <p>Black Python Devs aims to partner with Python conferences and events around the world to increase the visibility and opportunities for Black developers and leaders in the Python community.</p>

  <p>We believe that sponsorships does the following:</p>
  <ul>
    <li>👫 - raises awareness amongst our community to attend events.</li>
    <li>🌐 - supports Python events that are accessible to black communities</li>

  </ul>
  <p>Here is a look at events this year that we've supported:</p>
  </section>


  <section>
    <h2>Events Sponsored by year</h2>
    {% for segment_year in data.sponsored | sort(reverse=True) %}
    {% if segment_year == year %}
    <details name="{{segment_year}}" open>
    {% else %}
    <details name="{{segment_year}}">
    {% endif %}
    <summary>{{segment_year}}</summary>
      <section class="grid">
      {% for segment in data.sponsored[segment_year] | sort %}
      <article>
      <h3>{{segment}}</h3>
        {% for event in data.sponsored[segment_year][segment] | sort %}
          <p>{{event}}</p>
        {% endfor %}
      </article>
      {% endfor %}
      </section>
    </details>
    <hr/>
    {% endfor %}
  </section>

  <p>Interested in Black Python Devs supporting your event. Review our <a href="https://github.com/BlackPythonDevs/blackpythondevs/blob/main/policies/event-grants.md#22-budget-considerations">Grant Criteria</a> and email your prospectus to <a href="mailto:sponsorships@blackpythondevs.com">sponsorships@blackpythondevs.com</a></p>
</section>

