<!-- This file is ignored by Prettier due to Jinja syntax conflicts -->
<article>
  <section>
    <h2>Supported Events</h2>

    <p>Black Python Devs aims to partner with Python conferences and events around the world to increase the visibility and opportunities for Black developers and leaders in the Python community.</p>

    <p>We believe that sponsorships does the following:</p>
    <ul>
      <li>Raises awareness amongst our community to attend events.</li>
      <li>Supports Python events that are accessible to black communities</li>

    </ul>
  </section>


  <section>
    <h2>Events Sponsored by year</h2>
    <p><em>Note: Some events listed here are community sponsorships in which no money was transferred between parties. These reflect partnerships where Black Python Devs contributed visibility, volunteer time, or other non-monetary support.</em></p>
    {% for segment_year in data.sponsored | sort(reverse=True) %}
      {% if segment_year == year %}
        <details name="{{segment_year}}" open>
      {% else %}
        <details name="{{segment_year}}">
      {% endif %}
      <summary>{{segment_year}}</summary>
      <section class="grid">
        {% for segment in data.sponsored[segment_year] | sort %}
<article>
          <h3>{{segment}}</h3>
            {% for event in data.sponsored[segment_year][segment] | sort %}
              <p>{{event}}</p>
            {% endfor %}
          </article>
        {% endfor %}
      </section>
      </details>
      <hr/>
    {% endfor %}
  </section>

  <section>
    <p>Interested in Black Python Devs supporting your event. Review our <a href="https://github.com/BlackPythonDevs/blackpythondevs/blob/main/policies/event-grants.md#22-budget-considerations">Grant Criteria</a> and email your prospectus to <a href="mailto:sponsorships@blackpythondevs.com">sponsorships@blackpythondevs.com</a></p>
  </section>
</article>
