<div class="grid" style="text-align: center; margin: 2rem 0 3rem">
  <article>
    <h2 class="pico-color-pumpkin-500">{{ member_count }}</h2>
    <p>Community Members</p>
  </article>
  <article>
    <h2 class="pico-color-pumpkin-500">{{ sponsored_events_count }}</h2>
    <p>Sponsored Events</p>
  </article>
  <article>
    <h2 class="pico-color-pumpkin-500">{{ countries_count }}</h2>
    <p>Countries Supported</p>
  </article>
</div>

<div id="join-us">
  <div class="grid">
    <a href="https://discord.gg/XUc3tFqCT3" role="button" class="pico-background-violet-650">
      <span style="margin: 0 1rem"> <i class="fab fa-discord"></i></span>
      <span> Join our Discord </span>
    </a>

    <a href="https://www.linkedin.com/groups/14336241/" role="button" class="pico-background-azure-650 white-button"
      ><span style="margin: 0 1rem"><i class="fab fa-linkedin"></i></span>Join our LinkedIn Group</a
    >
  </div>
</div>
