<div id="support">
  <h2>Support Black Python Devs</h2>
  <article>
    <div class="grid">
      <div>{% include "_includes/support_widget.html" %}</div>
      <div>
        <img class="donation-photo" src="/assets/images/gnome_powered_bpd_stacked.png" alt="Black Python Devs logo with GNOME Foundation sponsorship" />
      </div>
    </div>
    <small
      >Black Python Devs is a Non-Profit, fiscally hosted under the GNOME Foundation. GNOME does take a percentage for operating costs for our account and administration but at least 90% of proceeds goes directly to Black Python Devs General Purpose
      Fund as detailed here.</small
    >
  </article>
</div>
