index.html
assets/js/jquery.min.js
assets/js/index.js
_layouts/*.html
_includes/conferences.html
_includes/header.html
_includes/social.html
_includes/social-item.html
_includes/svg_symbol.html
_includes/disqus_comments.html
_includes/posts.html
_data/conferences.yml
