# Page Generation
render-engine
render-engine[cli]
pyyaml


# linting
pre-commit
typer

# Automation
rich

# Testing
python-frontmatter
ephemeral_port_reserve
pytest-playwright
pytest-xprocess
axe-core-python==0.1.0
axe-playwright-python==0.1.5
Pillow==11.3.0

