---
layout: default
lang: en
title: Support
---

<h1>Support Black Python Devs</h1>
<div id="support">
  <article>
    <p>
      Black Python Devs is a Non-Profit, fiscally hosted under the <a href="https://foundation.gnome.org/">GNOME Foundation</a>. The GNOME Foundation does take a percentage for administration costs and support but at least 90% of proceeds goes
      directly to Black Python Devs General Purpose Fund to support our operational costs and supporting community events in the communtiies of Black Python Developers.
    </p>
    <div>
      <script>
        (function () {
          if (document.getElementById("commitchange-script")) return;
          var npo = 6464;
          var script = document.createElement("script");
          var first = document.getElementsByTagName("script")[0];
          script.setAttribute("data-npo-id", npo);
          script.id = "commitchange-script";
          script.src = "https://us.commitchange.com/js/donate-button.v2.js";

          // Add this to your existing CommitChange script
          const observer = new MutationObserver(() => {
            document.querySelectorAll(".commitchange-iframe-embedded").forEach((iframe) => {
              if (!iframe.title) iframe.title = "Donation form for Black Python Devs";
            });
          });
          observer.observe(document.body, { childList: true, subtree: true });

          first.parentNode.insertBefore(script, first);
        })();
      </script>
      <a data-amounts="25,50,100,250,500,1000,1500" class="commitchange-donate" data-designation="Black Python Devs" data-embedded=""></a>
    </div>
  </article>

  <article>
    <h2>Foundational Supporters</h2>
    <p>Black Python Devs operates primarily on support from individuals. It is those supporters that serve as the foundation for what we do.</p>
    <p>We would like to recognize our supporters who donate at least $200 each year.</p>
    <div>
      <h3>2025</h3>
      <hr />
      <ul>
        {% for supporter in site.data.foundational_supporters['2025'] %}
        <li>{{supporter}}</li>
        {% endfor %}
      </ul>
    </div>
    <div>
      <h3>2024</h3>
      <hr />
      <div class="grid">
        <div>
          <ul>
            {% for supporter in site.data.foundational_supporters['2024'] limit:10 %}
            <li>{{supporter}}</li>
            {% endfor %}
          </ul>
        </div>
        <div>
          <ul>
            {% for supporter in site.data.foundational_supporters['2024'] offset:10 limit:10 %}

            <li>{{supporter}}</li>
            {% endfor %}
          </ul>
        </div>
        <div>
          <ul>
            {% for supporter in site.data.foundational_supporters['2024'] offset:20 limit:10 %}

            <li>{{supporter}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <p>You can view the archive of supporters<sup>*</sup> by year at https://github.com/blackpythondevs/blackpythondevs.</p>
      <p>* <sub>Those who marked their desire to remain anonymous have not been included</sub></p>
    </div>
  </article>

  <h2>Learn More about Supporting</h2>
  <div style="position: relative; width: 100%; height: 0; padding-top: 56.25%; padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden; border-radius: 8px; will-change: transform">
    <iframe
      loading="lazy"
      title="Black Python Devs support information"
      style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0; margin: 0"
      src="https://www.canva.com/design/DAGKXBERZ2s/AbT0GzW284THN6wSayNMMg/view?embed"
      allowfullscreen="allowfullscreen"
      allow="fullscreen"
    >
    </iframe>
  </div>
  <a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGKXBERZ2s&#x2F;AbT0GzW284THN6wSayNMMg&#x2F;view?utm_content=DAGKXBERZ2s&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener"
    >PITCH Deck</a
  >
  by Black Python Devs
</div>
