<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Black Python Devs
" />
    <title>Black Python Devs | club</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/pico.min.css" />
    <link rel="stylesheet" href="/assets/css/pico.colors.min.css" />
    <link rel="stylesheet" href="/assets/css/bpd.css" />
    <link rel="canonical" href="http://localhost:4000/club/" />
    <link rel="alternate" type="application/rss+xml" title="Black Python Devs" href="http://localhost:4000/feed.xml" />
    <link rel="icon" href="https://fav.farm/%E2%9C%8A%F0%9F%8F%BE" type="image/svg" />
    
    
    
    
    
    
    
    <link rel="alternate" hreflang="en" href="http://localhost:4000/club/" />
    <link rel="alternate" hreflang="x-default" href="http://localhost:4000/club/" />
    
    
    
    
    
    
    <link rel="alternate" hreflang="es" href="http://localhost:4000/es/club/" />
    
    
    
    
    
    
    <link rel="alternate" hreflang="ha" href="http://localhost:4000/ha/club/" />
    
    
    
    
    
    
    <link rel="alternate" hreflang="sw" href="http://localhost:4000/sw/club/" />
    
    
    
  </head>

  <body>
<header class="site-header" role="banner">
  <h1 class="site-title"><a class="logo-text" href="/index.html"><img src="/assets/images/black_python_devs_logo-horizontal-white.png" alt="Black Python Devs" /></a></h1>
  <nav class="site-navigation">
    <div class="site-navigation-wrap">
      <ul class="menu" role="menu">
        
        
        
        
        
        <li class="menu-item " role="menuitem">
          <a class="" href="/"> <i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp;Home </a>
        </li>
        
        
        
        
        
        <li class="menu-item " role="menuitem">
          <a class="" href="/blog/"> <i class="fa fa-newspaper fa-fw" aria-hidden="true"></i>&nbsp;Blog </a>
        </li>
        
        
        
        
        
        <li class="menu-item " role="menuitem">
          <a class="" href="/about/"> <i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>&nbsp;About Us </a>
        </li>
        
        
        
        
        
        <li class="menu-item " role="menuitem">
          <a class="" href="/events/"> <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>&nbsp;Events </a>
        </li>
        
        
        
                
        <li class="menu-item nav-current" role="menuitem">
            <a class="" href="/club/"> <i class="fa fa-network-wired fa-fw" aria-hidden="true"></i>&nbsp;Club </a>
          </li>
          
        
        <li class="menu-item" role="menuitem">
          <a class="nav-current" href="/communuity/"> <i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp;Community </a>
        </li>
        
        
        <li class="menu-item" role="menuitem">
          <div class="">
            <i class="fa fa-language" aria-hidden="true"></i>
            <select id="language" class="form-select" aria-label="Language">
              
              
              
              
              
              <option value="en" selected="selected">English</option>
              
              
              
              
              
              <option value="es">Español</option>
              
              
              
              
              
              <option value="ha">Hausa</option>
              
              
              
              
              
              <option value="sw">Swahili</option>
              
              
            </select>
          </div>
        </li>
        
      </ul>
      <!-- .menu -->
      <button id="menu-close" class="menu-toggle">
        <span class="screen-reader-text">Close Menu</span>
        <span class="icon-close" aria-hidden="true"></span>
      </button>
    </div>
    <!-- .site-navigation-wrap -->
  </nav>
  <!-- .site-navigation -->
  <button id="menu-open" class="menu-toggle">
    <span class="screen-reader-text">Open Menu</span>
    <span class="icon-menu" aria-hidden="true"></span>
  </button>
</header>
<main class="container" role="main" aria-label="Content">
        <h1 id="welcome-to-the-black-python-devs-club"><strong>Black Python Devs Book Club: A Community of Readers and Learners</strong></h1>

<p>The Black Python Devs book club was born from the community's growing passion for technical reading and learning.</p>

<p>Our goal is to create a welcoming and supportive space where members can share their love of Python development, discuss industry trends, and dive deeper into technical concepts. By reading and discussing books together, we hope to sharpen our skills, connect with like-minded developers, and contribute to the growth of our community.</p>

<p>The club's leadership are dedicated to building a vibrant and engaging community for everyone. Our initiative aligns with BPD's overall mission to increase participation, empower our members, and provide opportunities for professional growth.</p>




<h3 id=""><strong>Books Completed (Cards with cover page of the books):</strong></h3>

<p>"Boost Your Django DX" by Adam Johnson. This fantastic book offers valuable insights into improving Django development workflows and productivity.
</p>

<h4> Upcoming Books</h4>

<h4>Join Today</h4>

<p>Our Book club meets twice in a month on <a href="https://discord.com/invite/XUc3tFqCT3">Discord</a></p>




    </main><footer role="contentinfo">
  <div class="wrapper">
    <nav class="social-links"><ul class="social-media-list"><li>
  <a rel="me" href="https://github.com/BlackPythonDevs/blackpythondevs.github.io" target="_blank" title="github">
    <svg class="svg-icon grey">
      <use xlink:href="/assets/minima-social-icons.svg#github"></use>
    </svg>
  </a>
</li>
<li>
  <a rel="me" href="https://discord.gg/XUc3tFqCT3" target="_blank" title="discord">
    <svg class="svg-icon grey">
      <use xlink:href="/assets/minima-social-icons.svg#discord"></use>
    </svg>
  </a>
</li>
<li>
  <a rel="me" href="https://www.linkedin.com/groups/14336241/" target="_blank" title="linkedin">
    <svg class="svg-icon grey">
      <use xlink:href="/assets/minima-social-icons.svg#linkedin"></use>
    </svg>
  </a>
</li>
<li>
  <a rel="me" href="https://mastodon.social/@blackpythondevs" target="_blank" title="mastodon">
    <svg class="svg-icon grey">
      <use xlink:href="/assets/minima-social-icons.svg#mastodon"></use>
    </svg>
  </a>
</li>
<li>
  <a rel="me" href="https://www.youtube.com/@BlackPythonDevs" target="_blank" title="youtube">
    <svg class="svg-icon grey">
      <use xlink:href="/assets/minima-social-icons.svg#youtube"></use>
    </svg>
  </a>
</li>
<li>
  <a rel="me" href="https://x.com/blackpythondevs" target="_blank" title="x">
    <svg class="svg-icon grey">
      <use xlink:href="/assets/minima-social-icons.svg#x"></use>
    </svg>
  </a>
</li>
<li>
  <a rel="me" href="mailto:contact@blackpythondevs.com" target="_blank" title="email">
    <svg class="svg-icon grey">
      <use xlink:href="/assets/minima-social-icons.svg#email"></use>
    </svg>
  </a>
</li>
</ul>
</nav>
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <a href="/coc/">Code of Conduct</a>
      </div>
      <div class="footer-col">
        <small>&copy; 2024 blackpythondevs.com</small>
      </div>
    </div>
  </div>
</footer>
<script src="/assets/js/index.js"></script>
    <script src="https://kit.fontawesome.com/1bbe56de49.js" crossorigin="anonymous"></script>
  </body>
</html>
