{% if site.data.conferences.size > 0 %}
  {% for conference in site.data.conferences %}
<div class="conference">
  <article>
    <h2>
      <a href="{{ conference.url }}">{{ conference.name }}</a> ({{ conference.dates }}) {% if conference.location != "_No response_" %}- {{ conference.location }}{% endif %}
    </h2>
    <p>Type: {{ conference.type }}</p>
    {% if conference.summary != "_No response_" %}
      {{ conference.summary | markdownify }}
    {% endif %}
    {% if conference.speaking != "_No response_" %}
      <h3>Speaking:</h3>
      <li>
      {{ conference.speaking | markdownify }}
      </li>
    {% endif %}
  </article>
</div>
  {% endfor %}
{% else %}
<b>No conferences</b>
{% endif %}

<hr />
<p>Have a Conference to Add - <a href="https://github.com/BlackPythonDevs/blackpythondevs.github.io/issues/new?assignees=&labels=conference&projects=&template=add_conference.yml&title=%5BCONFERENCE%5D+%3CCONFERENCE+NAME%3E+YYYY">Submit an Issue</a></p>
