{% if site.data.conferences.size > 0 %}
  {% for conference in site.data.conferences %}
<div class="conference">
  <h2>
    <a href="{{ conference.url }}">{{ conference.name }}</a> ({{ conference.dates }}) {% if conference.location != "_No response_" %}- {{ conference.location }}{% endif %}
  </h2>
  <p>Type: {{ conference.type }}</p>
  {% if conference.summary != "_No response_" %}
    {{ conference.summary | markdownify }}
  {% endif %}
  <h3>Speaking:</h3>
  {{ conference.speaking | markdownify }}
</div>
  {% endfor %}
{% else %}
<b>No conferences</b>
{% endif %}
