<header class="site-header">
    <h1 class="site-title"><a class="logo-text" href="/">BPDev</a></h1>
    <nav class="site-navigation">
        <ul class="menu">
            {% for item in site.navigation %}
            {% assign current = nil %}
            {% if page.url == item.url %}
            {% assign current = 'nav-current' %}
            {% endif %}
            <li class="menu-item {{ current }}">
                <a class="{{ current }}" href="{{ item.url }}"><i class="{{ item.fa }}"></i>&nbsp;{{ item.text }}</a>
            </li>
            {% endfor %}
        </ul><!-- .menu -->
    </nav>
</header>