<header class="site-header" role="banner">
  <h1 class="site-title"><a class="logo-text" href="/">BPDev</a></h1>
  <nav class="site-navigation">
    <div class="site-navigation-wrap">
      <ul class="menu" role="menu">
        {% for item in site.navigation %} {% assign current = nil %} {% if
        page.url == item.url %} {% assign current = 'nav-current' %} {% endif %}
        <li class="menu-item {{ current }}" role="menuitem">
          <a class="{{ current }}" href="{{ item.url }}"
            ><i class="{{ item.fa }}"></i>&nbsp;{{ item.text }}</a
          >
        </li>
        {% endfor %}
      </ul>
      <!-- .menu -->
      <button id="menu-close" class="menu-toggle">
        <span class="screen-reader-text">Close Menu</span>
        <span class="icon-close" aria-hidden="true"></span>
      </button>
    </div>
    <!-- .site-navigation-wrap -->
  </nav>
  <!-- .site-navigation -->
  <button id="menu-open" class="menu-toggle">
    <span class="screen-reader-text">Open Menu</span>
    <span class="icon-menu" aria-hidden="true"></span>
  </button>
</header>
