<div class="grid">
  <article id="join-us">
    <h2>Not a member yet?</h2>
    <p>Are you a Black Python Developer</p>
    <div class="grid">
      <a href="https://discord.gg/XUc3tFqCT3" role="button" class="pico-background-violet-650"
        ><span><i class="fab fa-discord"></i></span> Join our Discord</a
      >
      <a href="https://www.linkedin.com/groups/14336241/" role="button" class="pico-background-azure-650"
        ><span><i class="fab fa-linkedin"></i></span> Join our LinkedIn Group</a
      >
    </div>
  </article>
  <article id="support">
    <h2>Want to support us? (Coming Soon)</h2>
    <p>We're working to establish our non-profit status.</p>
    <p>Join our <a href="https://buttondown.email/black-python-devs">newsletter</a> and get monthly updates including an announcement when we're ready for your support!</p>
  </article>
</div>
