<div id="newsletter">
  <h3>Learn what the community and its members are doing from our newsletter!</h3>

  <form action="https://buttondown.email/api/emails/embed-subscribe/black-python-devs" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/black-python-devs', 'popupwindow')" class="embeddable-buttondown-form">
    <input type="email" name="email" id="bd-email" placeholder="Enter your email" />

    <input type="submit" value="Subscribe" />
  </form>
  <p>
    <a href="https://buttondown.email/refer/black-python-devs" target="_blank">Powered by Buttondown.</a>
  </p>
  <p>
    <a href="https://buttondown.email/black-python-devs/archive">Read the latest issue.</a>
  </p>
</div>
