<div id="support">
  <h2>Support Black Python Devs</h2>
  <article>
    <div class="grid">
      <div>
        <script>
          (function () {
            if (document.getElementById("commitchange-script")) return;
            var npo = 6464;
            var script = document.createElement("script");
            var first = document.getElementsByTagName("script")[0];
            script.setAttribute("data-npo-id", npo);
            script.id = "commitchange-script";
            script.src = "https://us.commitchange.com/js/donate-button.v2.js";
            first.parentNode.insertBefore(script, first);
          })();
        </script>
        <a data-amounts="25,50,100,250,500,1000,1500" class="commitchange-donate" data-designation="Black Python Devs" data-embedded=""></a>
      </div>
      <div>
        <img class="donation-photo" src="/assets/images/gnome_powered_bpd_stacked.png" />
      </div>
    </div>
  </article>
  <div>
    <p>
      Black Python Devs is a Non-Profit, fiscally hosted under the GNOME Foundation. GNOME does take a percentage for operating costs for our account and administration but at least 90% of proceeds goes directly to Black Python Devs General Purpose
      Fund as detailed here.
    </p>
  </div>
</div>
