body {
    /* color: #6b747a; */
    line-height: 1.66667;
    padding-left: 30px;
    padding-right: 30px;
}

.site-header {
    border-bottom: 1px solid #d7d7d7;
    align-items: center;
    display: flex;
    padding-bottom: 1em;
    padding-top: 1em;
}

.site-title {
    color: #2c343c;
    /* font-family: "Noto Serif",Georgia,serif; */
    font-size: 1.66667rem;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1.2;
    margin: 0 15px 0 0
}

@media only screen and (max-width: 600px) {
    .site-title {
        font-size: 1.5rem;
        letter-spacing: normal
    }
}

.site-title a {
    color: #2c343c;
    text-decoration: none
}

.site-title a:hover {
    color: #2d72d9
}

.site-navigation {
    margin-left: auto
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0
}

.menu-item {
    display: inline-block;
    margin: 0 0 0 15px
}

.menu-item a {
    color: #9ba6ad;
    display: inline-block;
    font-size: .88889rem;
    font-weight: 700;
    padding: 5px 0;
    text-decoration: none
}

.menu-item a:hover {
    color: #2d72d9
}

.menu-toggle {
    display: none
}

@media only screen and (max-width: 800px) {
    #menu-open {
        display: block;
        -ms-flex: 0 0 auto;
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
        margin-left: auto
    }

    #menu-close {
        display: block;
        position: absolute;
        right: 45px;
        top: 3.33333rem
    }

    .site-navigation {
        -webkit-overflow-scrolling: touch;
        background: #fff;
        bottom: 0;
        left: 0;
        margin: 0;
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        visibility: hidden;
        z-index: -1
    }

    .site-navigation-wrap {
        height: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        position: relative
    }

    .menu {
        opacity: 0;
        padding: 7rem 45px 2.5rem
    }

    .menu-item {
        border-bottom: 1px solid #d7d7d7;
        display: block;
        margin: 0
    }

    .menu-item:last-child {
        border: 0
    }

    .menu-item a {
        display: block;
        padding: .5rem 0
    }

    .menu--opened .site {
        height: 100%;
        left: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 998
    }

    .menu--opened .site-navigation {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        z-index: 999
    }

    .menu--opened .menu {
        opacity: 1
    }
}

@media only screen and (max-width: 600px) {
    #menu-close {
        right: 35px;
        top: 2.8125rem
    }

    .menu {
        padding: 6.375rem 35px 2.5rem
    }
}