{% extends 'default.html' %}
{% block content %}
  <article>
  <h1 id="about-black-python-devs">About Black Python Devs</h1>

  <p>Black Python Devs was created by its founder Jay Miller after seeing a trend of the same handful of Black developers speaking at major conferences, taking leadership positions, and dealing with the same challenges towards burnout.</p>

  <p>
    After attending PyCon US in 2022, he noticed they were able to physically count the number of Black developers that attended in person and that they made up LESS THAN 0.01% of the total attendees. Jay began asking speakers Black Pythonistas if
    they considered connecting with the community and the almost unanimous response was "Why would I do that?". After some encouragement one person was convinced to give a lightning talk.
  </p>

  <p>
    In the following year, we saw that person get more involved in their local user group and make connections that helped lead to forward progress in their career development.That same person was accepted to speak at PyCon US in 2023. With much push
    from community in Africa and Brazil, we saw the total number of Black attendees in 2023 triple in number.
  </p>

  <p>At PyCon US 2023 after an open space a Discord server called Black Python Devs was created where the community could continue to encourage this momentum and support one another.</p>
    </article>
<section>
  <div class="grid">
    <article>
      <h2 id="mission-statement">Mission Statement</h2>
      <p>Extending the ecosystem of Python Communities to Black and Colo(u)red Communities around the world.</p>
    </article>
    <article>
      <h2 id="goal">The Goal of Black Python Devs</h2>

      <p>Our goal is to become the largest community of Black Python Developers in the world and establish our community as a source for diverse leaders in the greater Python community. We aim to:</p>

      <ul>
        <li>Establish guidance, mentorship, and career support for Black Pythonistas around the world.</li>
        <li>Create opportunities for the Python community to invest in local communities of Black Python Devs members.</li>
        <li>Increase participation of Black Python Devs members in existing Python community programs, events, and initiatives.</li>
      </ul>
    </article>
  </div>
</section>
  <h3 id="leadership-team">Leadership Team</h3>

  <div class="grid" style="margin: auto; text-align: center">
    {% for leader in data['Executors'] %}

      <article class="leadership-photo-container">
      {% if leader.image %}
      <img class="leadership-photo" alt="photo of {{leader.name}}" src="{{ leader.image }}" />
      {% endif %}
      <p>
        <strong>{{ leader.name }}</strong><br />
        {{ leader.title }}
      </p>
    </article>

    {% endfor %}
  </div>

  <h3 id="team-leads">Team Leads</h3>

  <div class="grid" style="margin: auto; text-align: center">
    {% for leader in data['Leaders'] %}

    <article class="leadership-photo-container">
      {% if leader.image %}
      <img class="leadership-photo" alt="photo of {{leader.name}}" src="{{ leader.image }}" />
      {% endif %}
      <p>
        <strong>{{ leader.name }}</strong><br />
        {{ leader.title }}
      </p>
    </article>
    {% endfor %}
  </div>

 <h3 id="advisors">Advisors</h3>
  <article class="grid">
  {% for group in (data.Advisors | sort | slice(3)) %}
  <div>
      <ul>
      {% for leader in group %}
      <li><strong>{{ leader }} </strong><br /></li>
      {% endfor %}
      </ul>
  </div>
  {% endfor %}
  </article>

  <h3 id="leadership-council">BPD Leadership Council</h3>

  <article>
    <p>We also vet our actions through our Black Python Devs Leadership Council made up of members who serve as Python Community leaders on a local, regional, or global scale.</p>
    <div class="grid">
    {% for group in data.Council | sort | slice(3) %}
    <div>
      <ul>
      {% for leader in group %}
        <li><strong>{{ leader }}</strong></li>
      {% endfor %}
      </ul>
    </div>
    {% endfor %}
    </div>
  </article>
</section>
<section>
  <h2 id="join-the-community">Join the Community</h2>
  <p>The Black Python Devs Community is a vibrant group of developers who are passionate about Python and coding. Whether you're a seasoned developer or just starting out, there's a place for you here.</p>
  
  <div class="grid">
      <article>
          <h3 id="connect-with-us">Connect With Us</h3>
          <p>We've created spaces where you can connect with us and other community members.</p>
          <ul>
              <li><strong>Discord:</strong> <a href="https://discord.gg/XUc3tFqCT3">Join our server</a></li>
              <li><strong>Twitter/X:</strong> <a href="https://x.com/blackpythondevs">Follow us</a></li>
              <li><strong>Instagram:</strong> <a href="https://www.instagram.com/blackpythondevs/">Follow us</a></li>
              <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/company/black-python-devs">Page</a> | <a href="https://www.linkedin.com/groups/14336241/">Group</a></li>
              <li><strong>Email:</strong> <a href="mailto:contact@blackpythondevs.com">contact@blackpythondevs.com</a></li>
          </ul>
      </article>
      
      <article>
          <h3 id="get-involved">Get Involved</h3>
          <ul>
              <li>Participate in discussions on Discord.</li>
              <li>Share your projects and get feedback.</li>
              <li>Contribute to our community projects.</li>
              <li>Attend our virtual meetups and events.</li>
          </ul>
      </article>
  </div>
</section>
{% endblock %}
