<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ '/' | relative_url }}"><i class="fa fa-home fa-fw"></i> Home</a></li>
                <li><a href="{{ '/about' | relative_url }}"><i class="fa fa-info-circle fa-fw"></i> About Us</a></li>
                <li><a href="{{ '/events' | relative_url }}"><i class="fa fa-calendar fa-fw"></i> Events</a></li>
                <li><a href="{{ '/conferences' | relative_url }}"><i class="fa fa-microphone fa-fw"></i> Conferences</a></li>
                <li><a href="{{ '/community' | relative_url }}"><i class="fa fa-users fa-fw"></i> Community</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <p>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</p>
    </footer>
</body>

</html>