<!doctype html>
<html lang="{{lang}}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{% if description%}{{ description | escape }}{% else %}{{ site.description }}{% endif %}" />
    <title>{% if title %}{{ site.title }} | {{ title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="{{ '/assets/css/bpd.css' }}" />
    <link rel="stylesheet" href="{{ '/assets/css/pico.min.css' }}" />
    {% set lang_slash = lang %}
    {% set default_url = url%}
    {% if lang == "en" %}
    <link rel="alternate" hreflang="en" href="{{ site.url }}{{ default_url }}" />
    <link rel="alternate" hreflang="x-default" href="{{ site.url }}{{ default_url }}" />
    {% else %}
    <link rel="alternate" hreflang="{{ lang }}" href="{{ site.url }}/{{ lang }}{{ default_url }}" />
    {% endif %}
  </head>

  <body>
    {%- include '_includes/header.html' -%}
    <main class="container" role="main" aria-label="Content">

      {% block content %}
      {% if content %}
      {{content}}
      {% endif %}
      {% endblock %}
    </main>
    {%- include '_includes/footer.html' -%}
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bpd.js"></script>
    <script src="https://kit.fontawesome.com/1bbe56de49.js" crossorigin="anonymous"></script>
  </body>
</html>
