{% extends 'default.html' %}
{% block content %}
<section>
  <h1>Upcoming Conferences</h1>

  <p>Black Python Devs aims to partner with Python conferences around the world to increase the visibility and opportunities for Black leadership in the Python community. We understand that when you put qualified individuals on stage and at conferences it increases their value and opportunities for employment.</p>

  <p>Here are some highlighted upcoming conferences where you can find Black Python Developers involved on stage or behind the scenes</p>

  {% for conference in conferences %}
  {% include '_includes/conferences.html' %}
  {% endfor %}

  <h2>Regular Meetups</h2>

  <p>Join us every Friday for a cup of coffee and a chance to code with fellow Python enthusiasts. Our community is open to all levels of experience, from beginners to experts.</p>

  <p>We'll be discussing the latest trends in Python development, sharing tips and tricks, and working on projects together. Whether you're looking to learn something new or just want to hang out with like-minded people, this is the perfect opportunity to do so. We look forward to seeing you there!</p>
</section>
{% endblock %}