{% extends 'default.html' %}
{% block content %}

<h1>Events</h1>
<p>Stay connected with what's happening in the Black Python Devs community and beyond.</p>

<section>
  <h2>BPD Events</h2>
  <p>Check out our own community events, meetups, and gatherings.</p>
  {% for event in data.bpd_events %}
    <article>
      <h3><a href="{{ event.url }}">{{ event.title }}</a></h3>
      <p>
        {% if event.date %}<i class="fa fa-calendar"></i> {{ event.date | to_pub_date }} {% endif %}
        {% if event.location %} | <i class="fa fa-map-marker"></i> {{ event.location }} {% endif %}
      </p>
    </article>
  {% endfor %}
</section>

<section>
  <h2>Supported Events</h2>
  <p>Black Python Devs aims to partner with Python conferences and events around the world to increase the visibility and opportunities for Black developers and leaders in the Python community.</p>

  <p>We believe that sponsorships does the following:</p>
  <ul>
    <li>👫 - raises awareness amongst our community to attend events.</li>
    <li>🌐 - supports Python events that are accessible to black communities</li>
  </ul>

  <h3>Events Sponsored by year</h3>
  {% for segment_year in data.sponsored_events | sort(reverse=True) %}
    {% if segment_year == year %}
    <details name="{{segment_year}}" open>
    {% else %}
    <details name="{{segment_year}}">
    {% endif %}
    <summary>{{segment_year}}</summary>
      <section class="grid">
      {% for segment in data.sponsored_events[segment_year] | sort %}
      <article>
      <h3>{{segment}}</h3>
        {% for event in data.sponsored_events[segment_year][segment] | sort %}
          <p>{{event}}</p>
        {% endfor %}
      </article>
      {% endfor %}
      </section>
    </details>
    <hr/>
  {% endfor %}

  <p>Interested in Black Python Devs supporting your event. Review our <a href="https://github.com/BlackPythonDevs/blackpythondevs/blob/main/policies/event-grants.md#22-budget-considerations">Grant Criteria</a> and email your prospectus to <a href="mailto:sponsorships@blackpythondevs.com">sponsorships@blackpythondevs.com</a></p>
</section>

<section>
  <h2>Regular Meetups</h2>
  <p>Join us every Friday for a cup of coffee and a chance to code with fellow Python enthusiasts. Our community is open to all levels of experience, sharing tips and tricks, and working on projects together. Whether you're looking to learn something new or just want to hang out with like-minded people, this is the perfect opportunity to do so. We look forward to seeing you there!</p>
</section>

{%endblock %}
