{% extends "default.html" %}

{% block content %}
<div class="home">
  {% if title %}
    {% set header = title %}
  {% else %}
    {% set header = site.title %}
  {% endif %}
</div>

<article class="grid hero">
  <div style="display:flex;align-items:center;justify-content:center">
    <img style="max-width: 14rem; max-height:18rem; filter: drop-shadow(0 4px 40px var(--bpd-gold-wash));" src="/assets/images/bpd_stacked.png" alt="Black Python Devs logo" />
  </div>
  <div style="display:flex;align-items:center">
    <h1 class="hero-text">Helping build communities for Black Pythonistas around the world.</h1>
  </div>
</article>


  {{ content }}

  {% include "_includes/sponsors.html" %}
{% endblock %}
