{% extends "default.html" %}

{% block content %}
<section class="container">
  {%- if featured_image -%}
  <div class="hero-banner">
    <img src="{{ featured_image }}" class="featured-image" alt="author image">
  </div>
  {%- else -%}
  <div class="hero-banner">
      <img src="/assets/images/bpd_stacked.png" class="featured-image" alt="Hero image">
  </div>
  {%- endif -%}
  <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
      <h1 class="post-title p-name" itemprop="name headline">{{ title }}</h1>
      <p class="post-meta">
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span class="p-author h-card" itemprop="name">{{ author }}</span>
        </span>

      </p>
    </header>
    <div class="post-content e-content" itemprop="articleBody">
      {{ content }}
    </div>
  </article>
</section>

{% set author = authors %}
<section>
  {% if author and author.bio %}
  <hr />
    <h3>About {{author.name}}</h3>
    <p>{{author.bio|e}}</p>
  </section>
  {% endif %}

{% endblock %}
