{% extends 'default.html' %}
{% block content %}
<section>
  <h1>Supported Events</h1>

  <p>Black Python Devs aims to partner with Python conferences and events around the world to increase the visibility and opportunities for Black developers and leaders in the Python community.</p>

  <p>We believe that sponsorships does the following:</p>
  <ul>
    <li>👫 - raises awareness amongst our community to attend events.</li>
    <li>🌐 - supports Python events that are accessible to black communities</li>

  </ul>
  <p>Here is a look at events this year that we've supported:</p>
  </section>

  <section>
    <h2>Events Sponsored in {{year}}</h2>
  <section class="grid">
    {% for segment in data[year] | sort %}
    <article>
    <h3>{{segment}}</h3>
      {% for event in data[year][segment] | sort %}
        <p>{{event}}</p>
      {% endfor %}
    </article>
    {% endfor %}
  </section>

  <p>Interested in Black Python Devs supporting your event. Review our <a href="https://github.com/BlackPythonDevs/blackpythondevs/blob/main/policies/event-grants.md#22-budget-considerations">Grant Criteria</a> and email your prospectus to <a href="mailto:sponsorships@blackpythondevs.com">sponsorships@blackpythondevs.com</a></p>
</section>

<section>
<h2>Regular Meetups</h2>

  <p>Join us every Friday for a cup of coffee and a chance to code with fellow Python enthusiasts. Our community is open to all levels of experience, sharing tips and tricks, and working on projects together. Whether you're looking to learn something new or just want to hang out with like-minded people, this is the perfect opportunity to do so. We look forward to seeing you there!</p>
</section>
{%endblock %}
